 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@600&family=Yellowtail&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #252525;
    text-decoration: none;
}

/* Headings and logo */
.header {
    background-color: white;
    box-shadow: 1px 1px 5px 0px grey;
    width: 100%;
}

.logo-and-burger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#logo-image {
    width: 50%;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Nav bar (burger style) */

.nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.menu {
    background-color: #88d498;
    display: flex;
    flex-direction: column;
}

.menu a {
    display: flex;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-weight: 1000;
    border-bottom: 2px solid #198a68;
    text-transform: uppercase;
}

.menu a:hover {
    background-color: #caeed2;
    color: #3a3a3a;
}

.nav {
    max-height: 0;
}

/* Menu Icon */
.hamburger {
    cursor: pointer;
    padding: 24px 38px;
}/* Style label tag */

.hamburger-line {
    background: black;
    display: flex;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

/* defining the hamburger icon*/

.hamburger-line::before,
.hamburger-line::after {
    background: black;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.hamburger-line::before {
    top: 5px;
}

.hamburger-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero.webp') no-repeat center center;

    /* animates zoom effect on loading of page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 120%;
    height: 200px;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(25 138 104 / 40%);
    bottom: 0;
    position: sticky;
}

#cover-text h3 {
    font-size: 80%;
}

/* about section on homepage */
.about {
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Animation for about section */
    animation: 5s anim-lineUp ease-out; 
}

.about h2 {
    text-transform: uppercase;
    color: #278a68;
    padding-bottom: 25px;  
}

/* Animation for about section */
@keyframes anim-lineUp {
     0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
     opacity: 1;
     transform: translateY(0%);
    }
}

/* parallax image on index.html */
.parallax {
    margin-bottom: 25px;
    background-image: url("../images/parallax.webp");
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Events & Notices section on index.html */

/* targets headings within each div */
.notices h3 {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* targets heading for the section outside of notice boxes */
.notices h2 {
    text-decoration: underline;
    text-align: center;
}

/* targets div boxes as a group, using flex and flex-wrap to accommodate for mobile screens */
.notice-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-wrap: wrap;
}

/* targets each box separately, adding background image, padding, width for mobile etc. */
.notice-box div {
    width: 40%;
    text-align: center;
    font-weight: bold;
    background-image: url(../images/notice.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: inset 0 0 99999px #fff;
    margin: 10px;
    border: 5px solid #198a68;
    border-radius: 10px;
    padding-bottom: 15px;
}

/* targets each icon within the div boxes */
.notice-box i {
    font-size: 150%;
    padding-top: 10px;
    color: #198a68;
    font-weight: bold;
}

/* adding a shadow to all text/icons within the div box for better visibilty against background */
.notice-box i, .notice-box h3, .notice-box p {
    text-shadow: #fff 1px 0 1px;
}

.view-all {
    text-decoration: none;
}

/* link to events page */
.view-all p{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    color: #198a68;
    font-weight: bold;
}

/* footer section */
footer {
    width: 100%;
    padding-bottom: 25px;
    background-color: #198a68;
    overflow: hidden;
}

footer h3 {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socials > li {
    list-style-type: none;
    margin: 30px;
}

.socials i {
    font-size: 160%;
    color: #ffffff;
}

/* gallery page */

.gallery {
    line-height: 0;
    column-gap: 0px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.gallery > img {
    width: 100%;
        /* animates zoom effect on loading of page */
        animation-name: gallery-zoom;
        animation-duration: 10s;
        animation-fill-mode: forwards;
    }

/* sytling the heading for gallery page */
.h2-gallery {
    text-align: center;
    padding: 15px;
    color: #198a68;
}
    
/* creates the level of zoom for gallery images */
@keyframes gallery-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* signup page */

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    background-image: url(../images/signup.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
}

.signup h2 {
    padding-bottom: 50px;
    text-decoration: underline;
    text-align: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    padding-right: 50px;
    margin-top: 30px;
}

.signup-form input {
    background-color:#fff;
    border: 2px solid #198a68;
    border-radius: 20px;
    width: 100%;
    height: 25px;
    padding-left: 15px;
}

.signup-form .submit {
    background-color: #198a68;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
}

.signup-form span {
    display: flex;
}

.signup-form #terms {
    width: 60px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #88d498;
    text-align: center;
}

.contact li {
    list-style-type: none;
    padding-top: 10px;
}

.contact h2 {
    text-decoration: underline;
    padding-bottom: 15px;
}

.contact h3 {
    font-size: 90%;
}

.contact-box {
    margin: 50px;
    display: flex;
    justify-content: center;
}

/* events page calendar */
.events-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.events-page h2 {
    text-decoration: underline;
    padding-bottom: 25px;
}

.calendar {
    width: 100%;
    height: 500px;
}

/* Media queries */

@media (min-width: 768px) {

    /* for nav and menu */
    .header {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

    }
    
    #logo-image {
        width: 75%;
    }
    
    .nav {
        max-height: none;
        width: 100%;
        background-color: transparent;
        overflow: visible;
    }

    .menu {
        background-color: transparent;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-top: 30px;
    }

    .menu li a{
        color: #252525;
        border: none;
    }
    
    .menu li {
        list-style-type: none;
    }

    .menu a:hover {
        background-color: transparent;
        color: gray;
        text-decoration: underline;
    }
    
    .nav .menu .active {
        text-decoration: underline;
    }

    /* nav styling for desktop */
    .logo-and-burger-nav {
        display: flex;
        flex-direction: row;
    }

    /* hiding mobile burger icon for desktop */
    .hamburger {
        display: none;
    }

    /* Hero image cover text */
    #cover-text {
        width: 500px;
        font-size: 150%;
    }

    #cover-text h3 {
        font-size: 90%;
    }

    /* about section index.html */
    .about p {
        margin: 25px 10%;
    }

    /* Notice & Events section */
    .notice-box {
        flex-wrap: nowrap;
    }

    .notice-box p {
        padding: 10px;
    }

    /* footer */
    .socials > li {
        display: inline-flex;
        margin: 30px 80px 0px 80px;
    }

    footer h3 {
        padding-top: 25px;
    }

    /* gallery page */
    .gallery img {
        width: 50%;
    }

    /* Calandar */
    .calendar {
        height: 1000px;
    }
}

