 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@600&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.header {
    background-color: white;
    box-shadow: 1px 1px 5px 0px grey;
    position: sticky;
    width: 100%;
    height: auto;
}

.logo-and-burger-nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.logo-and-burger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and logo */

h1, h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #252525;
    text-decoration: none;
}

#logo-image {
    width: 50%;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Nav bar (burger style) */

.nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.menu {
    background-color: #88d498;
    display: flex;
    flex-direction: column;
}

.menu a {
    display: flex;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-weight: 1000;
    border-bottom: 2px solid #198a68;
    text-transform: uppercase;
    
}

.menu a:hover {
    background-color: #caeed2;
    color: #3a3a3a;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamburger {
    cursor: pointer;
    padding: 24px 38px;
    display: flex;
    justify-content: flex-end;
}/* Style label tag */

.hamburger-line {
    background: black;
    display: flex;
    align-items: end;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

/* defining the hamburger icon*/

.hamburger-line::before,
.hamburger-line::after {
    background: black;
    content: '';
    display: flex;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamburger-line::before {
    top: 5px;
}

.hamburger-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamburger .hamburger-line {
    background: transparent;
}

.side-menu:checked ~ .hamburger .hamburger-line::before {
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero.webp') no-repeat center center;

    /* animates zoom effect on loading of page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    text-transform: uppercase;
    height: 200px;
    padding-top: 103px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(25 138 104 / 40%);
    bottom: 0;
    position: sticky;
}

#cover-text h3 {
    font-size: 80%;
}

/* paragraph about section on homepage */

.about {
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Animation for about section */
    animation: 5s anim-lineUp ease-out; 
}

.about h2 {
    text-transform: uppercase;
    color: #278a68;
    padding-bottom: 25px;  
}

/* Animation for about section */
@keyframes anim-lineUp {
     0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
     opacity: 1;
     transform: translateY(0%);
    }
}

/* parallax image on index.html */

.parallax {
    margin-bottom: 25px;
    background-image: url("../images/parallax.webp");
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Events & Notices section on index.html */


.notices h3 {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

.notices h2 {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

.notice-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-wrap: wrap;
}

.notice-box div {
    width: 40%;
    height: 200px;
    text-align: center;
    background-color: rgb(25 138 104 / 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;    
}

.notice-box div p {
    margin: 10px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #198a68;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline-flex;
    margin: 30px;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}

.gallery {
    clear: both;
    line-height: 0;
    column-gap: 0px;
}

.gallery > img {
    width: 100%;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-bottom: 25px;
    border: 2px solid #198a68
}

.signup h2 {
    padding-top: 25px;
    padding-bottom: 50px;
    text-decoration: underline;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form input {
    color: white;
    background-color:#198a68;
    width: 100%;
    height: 25px;
}

.signup-form .submit {
    width: 40%;
    background-color: white;
    border: 2px solid #198a68;
    color: #198a68;
}

/* Media queries */

/* for nav */
@media (min-width: 768px) {

    .header {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

    }
    
    #logo-image {
        width: 75%;
    }
    
    .nav {
        max-height: none;
        width: 100%;
        top: 0;
        background-color: transparent;
    }

    .menu {
        background-color: transparent;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-right: 10%;
        margin-top: 10px;
    }

    .menu li a{
        color: #252525;
        border: none;
    }
    
    .menu li {
        list-style-type: none;
    }

    .menu a:hover {
        background-color: transparent;
        color: gray;
        text-decoration: underline;
    }
    
    .nav .menu .active {
        text-decoration: underline;
    }

    .logo-and-burger-nav {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
    }

    .hamburger {
        display: none;
    }

    #cover-text {
        width: 30%;
    }

    #cover-text h3 {
        font-size: 100%;
    }

    .about p {
        margin: 25px 10%;
    }

    .notice-box {
        flex-wrap: nowrap;
    }
    
    .notice-box div h3, p {
        margin: 20px;
    }

    .social-networks > li {
        display: inline-flex;
        margin: 30px 80px 0px 80px;
    }

    .gallery {
        column-count: 2;
    }
}