 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@600&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.header {
    background-color: white;
    box-shadow: 1px 1px 5px 0px grey;
    position: sticky;
    width: 100%;
    height: auto;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and logo */

h1, h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #252525;
    text-decoration: none;
}

#logo-image {
    width: 50%;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Nav bar (burger style) */

.nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 10%;
}

.menu {
    background-color: #88d498;
}

.menu a {
    display: flex;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-weight: 1000;
    border-bottom: 2px solid #198a68;
    text-transform: uppercase;
    
}

.menu a:hover {
    background-color: #caeed2;
    color: #3a3a3a;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamburger {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamburger-line {
    background: black;
    display: flex;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

/* defining the hamburger icon*/

.hamburger-line::before,
.hamburger-line::after {
    background: black;
    content: '';
    display: flex;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamburger-line::before {
    top: 5px;
}

.hamburger-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamburger .hamburger-line {
    background: transparent;
}

.side-menu:checked ~ .hamburger .hamburger-line::before {
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero.webp') no-repeat center center;

    /* animates zoom effect on loading of page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    text-transform: uppercase;
    height: 200px;
    padding-top: 103px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(25 138 104 / 40%);
    bottom: 0;
    position: sticky;
}

#cover-text h3 {
    font-size: 80%;
}

/* paragraph about section on homepage */

.about {
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Animation for about section */
    animation: 5s anim-lineUp ease-out; 
}

.about h2 {
    text-transform: uppercase;
    color: #278a68;
    padding-bottom: 25px;  
}

/* Animation for about section */
@keyframes anim-lineUp {
     0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
     opacity: 1;
     transform: translateY(0%);
    }
}

/* parallax image on index.html */

.parallax {
    background-image: url("../images/parallax.webp");
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: cover;
  }


/* Media queries */

/* for nav */
@media (min-width: 768px) {

    .header {
        width: 100%;
        display: flex;
    }
    
    #logo-image {
        margin-left: 20%;
        width: 75%;
    }
    
    .nav {
        max-height: none;
        width: 100%;
        top: 0;
        background-color: transparent;
    }

    .menu {
        background-color: transparent;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
        margin-top: 10px;
    }

    .menu li a{
        color: #252525;
        border: none;
    }
    
    .menu li {
        list-style-type: none;
    }

    .menu a:hover {
        background-color: transparent;
        color: gray;
        text-decoration: underline;
    }
    
    .nav .menu .active {
        text-decoration: underline;
    }

    .hamburger {
        display: none;
    }

    #cover-text {
        width: 30%;
    }

    #cover-text h3 {
        font-size: 100%;
    }

    .about {
        margin: 25px 10%;
    }
}